################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZigBlog/ZigBlog/bin
/ZigBlog/ZigBlog/obj/Debug
/ZigBlog/ZigBlog/Content/Images/Avatars

/ZigBlog/ZigBlog.Tests/bin
/ZigBlog/ZigBlog.Tests/obj/Debug

/ZigBlog/ZigBlog.Translations/bin
/ZigBlog/ZigBlog.Translations/obj/Debug

*.suo
*.user