@model ZigBlog.Models.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Page";
}

@if (Model.Page == 1)
{
    <div class="page-header">
        <h1>Zignd's Blog <small style="font-family: consolas, monospace">Just a bit of my &lt;3 for &lt;&gt;</small></h1>
    </div>
}
else
{
    <div style="height: 5em;"></div>
}

@foreach (var post in Model.Posts)
{
    <div class="panel panel-default" style="margin-bottom: 5em;">
        <div class="panel-heading">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div>
                    <h1>@post.Title</h1>
                </div>
                <div style="display: flex; align-items: center;">
                    <span style="font-size: 2em;">@post.Likes.Count</span>
                    
                    @if (post.Likes.Count == 0)
                    {
                        <span class="glyphicon glyphicon-heart-empty" style="font-size: 3em;"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-heart" style="font-size: 3em;"></span>
                    }
                </div>
            </div>
        </div>
        <div class="panel-body" style="height: 7em; overflow: hidden;">
            @post.Content
        </div>
        <div class="panel-footer">
            <div>[Read more]</div>
            <div>@post.Comments.Count ?Commments</div>
        </div>
    </div>
}

